Repository lotva/only: changes, and which lefthook commands are due for each by the changed paths.
All: lint-styles, lint-scripts, format

lint-styles:
  run: pnpm exec stylelint --fix {staged_files}
  stage_fixed: true

lint-scripts:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

format:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

feat: add base styles
  package.json
  pnpm-lock.yaml
  public/file.svg
  public/fonts/bebas-neue.woff2
  public/fonts/pt-sans-bold.woff2
  public/fonts/pt-sans-regular.woff2
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
  src/app/globals.css
  src/app/layout.tsx
  src/shared/ui/styles/globals/_box-sizing.scss
  src/shared/ui/styles/globals/_fonts.scss
  src/shared/ui/styles/globals/_page.scss
  src/shared/ui/styles/globals/_tokens.scss
  src/shared/ui/styles/globals/_typography.scss
  src/shared/ui/styles/index.scss
  src/shared/ui/styles/lib/_clickable-area.scss
  src/shared/ui/styles/lib/_visually-hidden.scss
  src/shared/ui/styles/lib/index.md
  stylelint.config.js
Due: lint-styles, lint-scripts, format

feat: add index page and connect library runtimes in root layout
  .prettierrc.json
  .vscode/settings.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  public/fonts/pt-sans-bold.woff2
  public/fonts/pt-sans-regular.woff2
  src/app/layout.tsx
  src/app/page.module.css
  src/app/page.tsx
  src/core/layout/gsap/index.tsx
  src/core/layout/lenis/index.tsx
  src/core/layout/lenis/scroll-trigger.tsx
  src/core/styles/globals/_box-sizing.scss
  src/core/styles/globals/_fluid-font-size.scss
  src/core/styles/globals/_fonts.scss
  src/core/styles/globals/_page.scss
  src/core/styles/globals/_tokens.scss
  src/core/styles/globals/_typography.scss
  src/core/styles/index.scss
  src/core/styles/lib/_clickable-area.scss
  src/core/styles/lib/_visually-hidden.scss
  src/core/styles/lib/index.md
  src/modules/history-timeline/HistoryTimeline.tsx
  src/modules/history-timeline/index.ts
  src/modules/history-timeline/ui/Title.module.scss
  src/modules/history-timeline/ui/Title.tsx
  src/pages/index/index.module.scss
  src/pages/index/index.tsx
  src/shared/lib/cn.ts
  src/shared/ui/button/UiButton.module.scss
  src/shared/ui/button/UiButton.tsx
  stylelint.config.js
Due: lint-styles, lint-scripts, format

feat: add scroll-triggered reveal animation
  eslint.config.mjs
  src/app/layout.tsx
  src/app/page.tsx
  src/core/layout/gsap/index.tsx
  src/core/layout/lenis/index.tsx
  src/core/layout/lenis/scroll-trigger.tsx
  src/modules/history-timeline/HistoryTimeline.tsx
  src/shared/effects/fade-up/fadeUp.timeline.ts
  src/shared/effects/fade-up/fadeUp.ts
  src/shared/effects/fade-up/useFadeUpOnView.ts
  src/views/index/index.module.scss
  src/views/index/index.tsx
Due: lint-styles, lint-scripts, format

feat: prevent FOUC, works with JS disabled
  src/app/layout.tsx
  src/core/styles/globals/_avoid-fouc.scss
  src/core/styles/index.scss
Due: lint-styles, lint-scripts, format

feat: add context provider, introduce data structures for timeline events
  eslint.config.mjs
  src/modules/history-timeline/HistoryTimeline.tsx
  src/modules/history-timeline/config/timelines.ts
  src/modules/history-timeline/index.ts
  src/modules/history-timeline/lib/context.tsx
  src/modules/history-timeline/ui/HistoryTimeline.tsx
  src/views/index/index.module.scss
  src/views/index/index.tsx
Due: lint-styles, lint-scripts, format

fix: `Can't resolve 'tempus/react'`
  src/app/layout.tsx
  src/core/layout/tempus/index.ts
Due: lint-scripts, format

feat: implement timeline picker component
  package.json
  src/core/styles/globals/_typography.scss
  src/modules/history-timeline/config/timelines.ts
  src/modules/history-timeline/modules/timeline-picker/TimelinePicker.module.scss
  src/modules/history-timeline/modules/timeline-picker/TimelinePicker.tsx
  src/modules/history-timeline/modules/timeline-picker/lib/index.ts
  src/modules/history-timeline/modules/timeline-picker/ui/Backdrop.module.scss
  src/modules/history-timeline/modules/timeline-picker/ui/Backdrop.tsx
  src/modules/history-timeline/modules/timeline-picker/ui/ThemeWheel.module.scss
  src/modules/history-timeline/modules/timeline-picker/ui/ThemeWheel.tsx
  src/modules/history-timeline/modules/timeline-picker/ui/ThemeWheelPoint.module.scss
  src/modules/history-timeline/modules/timeline-picker/ui/ThemeWheelPoint.tsx
  src/modules/history-timeline/modules/timeline-picker/ui/Years.module.scss
  src/modules/history-timeline/modules/timeline-picker/ui/Years.tsx
  src/modules/history-timeline/ui/HistoryTimeline.module.scss
  src/modules/history-timeline/ui/HistoryTimeline.tsx
  src/modules/history-timeline/ui/Title.module.scss
  src/shared/effects/fade-up/fadeUp.ts
  src/views/index/index.module.scss
  src/views/index/index.tsx
Due: lint-styles, lint-scripts, format

refactor: optimize `ThemeWheel` for improved state management
  src/modules/history-timeline/modules/timeline-picker/ui/ThemeWheel.tsx
Due: lint-scripts, format

feat: add GitHub workflows for code formatting, linting, and type-checking
  .github/workflows/check-formatting.yaml
  .github/workflows/check-scripts.yaml
  .github/workflows/check-styles.yaml
  .github/workflows/check-types.yaml
Due: format

feat: enhance responsive styles
  src/core/styles/globals/_fluid-font-size.scss
  src/modules/history-timeline/modules/timeline-picker/ui/Backdrop.module.scss
  src/modules/history-timeline/modules/timeline-picker/ui/ThemeWheel.module.scss
  src/modules/history-timeline/modules/timeline-picker/ui/Years.module.scss
  src/modules/history-timeline/ui/HistoryTimeline.module.scss
Due: lint-styles, format

feat(ux): exclude active wheel points from tab order
  src/modules/history-timeline/modules/timeline-picker/ui/ThemeWheelPoint.tsx
Due: lint-scripts, format

feat: process text with `typograf`
  src/modules/history-timeline/config/timelines.ts
Due: lint-scripts, format

feat: integrate Swiper slider
  package.json
  pnpm-lock.yaml
  src/core/styles/globals/_fluid-font-size.scss
  src/core/styles/globals/_fonts.scss
  src/core/styles/globals/_page.scss
  src/core/styles/globals/_tokens.scss
  src/modules/history-timeline/modules/slider/Slider.module.scss
  src/modules/history-timeline/modules/slider/Slider.tsx
  src/modules/history-timeline/modules/slider/index.ts
  src/modules/history-timeline/modules/slider/ui/IconArrow.tsx
  src/modules/history-timeline/modules/slider/ui/Scroller.module.scss
  src/modules/history-timeline/modules/slider/ui/Scroller.tsx
  src/modules/history-timeline/modules/timeline-picker/index.ts
  src/modules/history-timeline/ui/HistoryTimeline.tsx
  src/shared/effects/fade-up/useFadeUpOnView.ts
  src/shared/lib/useMediaQuery.ts
  src/shared/lib/useSwiperLenisPatch.ts
  src/shared/ui/button/UiButton.module.scss
  src/views/index/index.module.scss
Due: lint-styles, lint-scripts, format

feat(wheel): add theme label
  src/modules/history-timeline/modules/timeline-picker/ui/ThemeWheelPoint.module.scss
  src/modules/history-timeline/modules/timeline-picker/ui/ThemeWheelPoint.tsx
Due: lint-styles, lint-scripts, format

feat(slider): add timeline navigator and counter
  src/modules/history-timeline/modules/slider/Slider.module.scss
  src/modules/history-timeline/modules/slider/Slider.tsx
  src/modules/history-timeline/modules/slider/ui/IconNavigatorArrow.tsx
  src/modules/history-timeline/modules/slider/ui/IconNavigatorArrowSmall.tsx
  src/modules/history-timeline/modules/slider/ui/Scroller.module.scss
  src/modules/history-timeline/modules/slider/ui/TimelineNavigator.module.scss
  src/modules/history-timeline/modules/slider/ui/TimelineNavigator.tsx
  src/modules/history-timeline/modules/timeline-picker/ui/ThemeWheelPoint.tsx
Due: lint-styles, lint-scripts, format

feat(slider): implement pagination dots
  src/modules/history-timeline/modules/slider/Slider.module.scss
  src/modules/history-timeline/modules/slider/Slider.tsx
  src/modules/history-timeline/modules/slider/ui/PaginationDots.module.scss
  src/modules/history-timeline/modules/slider/ui/PaginationDots.tsx
  src/modules/history-timeline/modules/slider/ui/TimelineNavigator.tsx
  src/shared/ui/button/UiButton.tsx
Due: lint-styles, lint-scripts, format

docs: add readme
  README.md
Due: none

perf(ux): preload fonts
  src/app/layout.tsx
Due: lint-scripts, format

chore: add minor a11y improvements
  src/modules/history-timeline/modules/slider/ui/Scroller.tsx
  src/modules/history-timeline/modules/timeline-picker/ui/ThemeWheelPoint.tsx
  src/modules/history-timeline/modules/timeline-picker/ui/Years.tsx
  src/modules/history-timeline/ui/HistoryTimeline.tsx
Due: lint-scripts, format

docs: add app video preview
  README.md
Due: none

chore: add minor a11y improvements
  src/modules/history-timeline/modules/slider/ui/Scroller.tsx
  src/modules/history-timeline/modules/timeline-picker/TimelinePicker.tsx
  src/modules/history-timeline/modules/timeline-picker/ui/Wheel.module.scss
  src/modules/history-timeline/modules/timeline-picker/ui/Wheel.tsx
  src/modules/history-timeline/modules/timeline-picker/ui/WheelPoint.module.scss
  src/modules/history-timeline/modules/timeline-picker/ui/WheelPoint.tsx
  src/modules/history-timeline/modules/timeline-picker/ui/Years.tsx
  src/modules/history-timeline/ui/HistoryTimeline.tsx
Due: lint-styles, lint-scripts, format

Path conditions:
  lint-styles: any of: *.{css,scss}
  lint-scripts: any of: *.{ts,tsx}
  format: any of: *.{ts,tsx,json,css,scss,yaml}
